## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
publish/

## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
launchSettings.json

## NuGet
**/[Pp]ackages/*
*.nupkg
*.snupkg
**/project.lock.json
**/project.fragment.lock.json

## Rider / JetBrains
.idea/
*.sln.iml

## Test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
TestResult.xml
