---
Checks: "*,
        -abseil-*,
        -altera-*,
        -android-*,
        -fuchsia-*,
        -google-*,
        -llvm*,
        -hicpp-vararg,
        -modernize-use-trailing-return-type,
        -zircon-*,
        -cert-err58-cpp,
        -readability-else-after-return,
        -readability-static-accessed-through-instance,
        -readability-avoid-const-params-in-decls,
        -cppcoreguidelines-non-private-member-variables-in-classes,
        -cppcoreguidelines-owning-memory,
        -cppcoreguidelines-pro-type-vararg,
        -misc-non-private-member-variables-in-classes,
"
WarningsAsErrors: '*'
HeaderFilterRegex: ''
FormatStyle:     none

